/*css style for all*/ 
/**{
    background-color:#f9ca24 ;
    font-family:Arial, Helvetica, sans-serif;
}*/

.wrapper{
    border: 1px solid blanchedalmond;
    width:80%;
    margin: auto;
    
}

/*text center*/

.center{
    text-align: center;
}

/*css for menu*/
.menu{
    padding: 1%;

}
.menu ul{
    list-style-type: none;
    font-weight: bold;
}

.menu ul li{
    padding:2px 10px;
    display:inline;
    
}

.menu ul li a{
    text-decoration: none;
    color:azure;
    background-color: #151fe2;
}

.menu ul li a:hover{
    background-color: #130f40;
}

